html, body {
    margin: 0;
    background-color: #B7B7B7;
}

.topnav {
    background-color: #EEEEEE;
    width: 100%;
    max-height: 60px;
}

.topnav a{
    display: inline-block;
    color: #000000;
    padding: 14px;
    text-decoration: none;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 5px solid transparent;
    vertical-align: top;
    cursor: pointer;
    transition-duration: .3s;
}

.topnav a:hover {
    border-bottom-color: #000000;
}

.topnav .active {
    border-bottom-color: #000000;
}
